body {
    background: skyblue;
    font-family: 'Trebuchet', 'Arial', sans-serif;
}

h1 {
    color: royalblue;
    font-size: 1.8rem;
    font-weight: 600;
}

.isComplete {
    background-color: #9ed9ac;
}